/*Alterar para todos os elementos*/
html * {
    margin: 0px;
    max-width: 100%;
}
body{
    background-color: #c7f5f7;
}

#cabeçalho{
     /*Cor de fundo*/
     background-color: #67b1f7;
    
     /*Borda de cima*/
     border-top: 10px solid #111111;
     
     border-bottom: 10px solid #111111; 
     
     /*Preenchimento*/
     padding: 10px;

     /*Habilitar o modo grid*/
     display: grid;

     /*Quantas colunas*/
     grid-template-columns: 8fr 3fr 1fr 1fr;
}

#cabeçalho a {

    color: #111111;

    /*Letra Maiúscula*/
    text-transform: uppercase;

    /*Estilo de texto*/
    text-decoration: none;

    /*Fonte*/
    font-family:Lucida;
}

#facebook{
height: 30px;
width: 30px;
}

#instagram{
    height: 30px;
    width: 30px;
    }

#cabeçalho a:hover{
color: white;
}

.banner{
    height: 240px;
    width:100%;
    background-image: url(img/BannerMat.png);

    /*Habilita o modo de linhas e colunas*/
    display: grid;

    /*Alinha na horizontal*/
    justify-content: center;

    /*Alinha na vertical*/
    align-content: center;

    /*Alinhamento central do texto*/
    text-align: center;
}

.banner h1{
    background-color: whitesmoke;
}

.banner h2{
    background-color: whitesmoke;
}

#menu {
    
    /*Cor de fundo*/
    background-color: #67b1f7;

    /*Borda de cima*/
    border-top: 10px solid #111111;
    
    /*Borda de baixo*/
    border-bottom: 10px solid #111111;

    /*Preenchimento*/
    padding: 10px;

    /*Habilitar o modo grid*/
    display: grid;

    /*Quantas colunas*/
    grid-template-columns: repeat(5, 1fr);

    /*Alinhamento central do texto*/
    text-align: center;
}

#menu a {

    color: #111111;

    /*Letra Maiúscula*/
    text-transform: uppercase;

    /*Estilo de texto*/
    text-decoration: none;

    /*Fonte*/
    font-family:Lucida;
}

#menu a:hover{
color: white;
}


main{
    height: 540px;
}

.principal h2{
    
    /*Habilita o modo de linhas e colunas*/
    display: grid;

    /*Alinha na horizontal*/
    justify-content: center;

    /*Alinha na vertical*/
    align-content: center;
}
.principal{
      /*Cor de fundo*/
      background-color: #c7f5f7;
    
      /*Margem inferior*/
      margin-bottom: 20px;
  
      /*Preenchimento*/
      padding: 10px;
     
}

.itema{
    
    background-color: rgb(255, 255, 255);
   
    /*Fonte*/
    font-family: Lucida Sans Unicode;

    text-align: justify;
      
    /*Habilita o modo de linhas e colunas*/
    display: grid;
    
    /*Alinha na horizontal*/
    justify-content: center;

    padding: 20px 100px 20px 100px;

    /*Bordas arredondadas*/
    border-radius: 5%;

    border: 5px solid #111111;

    /*Magem*/
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 20px;
} 

.itemb{
    
    background-color: rgb(255, 255, 255);
    
    /*Fonte*/
    font-family: Lucida Sans Unicode;

    text-align: justify;
      
    /*Habilita o modo de linhas e colunas*/
    display: grid;
    
    /*Alinha na horizontal*/
    justify-content: center;

    padding: 20px 100px 20px 100px;

    /*Bordas arredondadas*/
    border-radius: 5%;

    border: 5px solid #111111;

    /*Magem*/
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.rodape {
    background-color:#67b1f7;
    height: 50px;
    border-top: 10px solid #111111;
    margin-top: 1px;

    /*Habilita o modo de linhas e colunas*/
    display: grid;
    
    /*Alinha na horizontal*/
    justify-content: center;

    /*Alinha na vertical*/
    align-content: center;
}
.rodape p{
    text-align: center; 
}